@model IEnumerable<WebApiClientTEST.Models.MovieViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.adult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.backdrop_path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.original_language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.original_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.overview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.poster_path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.media_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.popularity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.release_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.video)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vote_average)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vote_count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.original_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.first_air_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.adult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.backdrop_path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.original_language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.original_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.overview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.poster_path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.media_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.popularity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.release_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.video)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vote_average)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vote_count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.original_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_air_date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
